/* Reset default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set background color and text color */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  background-color: #1e1e1e;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

/* Main content styles */
main {
  padding: 20px;
}

/* Section styles */
section {
  margin-bottom: 30px;
}

/* Project styles */
.project {
  background-color: #1e1e1e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #1e1e1e;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

/* Social media icon styles */
ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 20px;
}

/* LinkedIn, GitHub, and Email icon styles */
.linkedinimg, .githubimg, .emailimg {
  width: 30px;
  height: 30px;
  filter: invert(1);
}
